body{
    background-image: url('../images/background.jpg');
    padding:0;
    margin:0;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
  
}


.title{
    text-align: center;
    margin-top:20px;
}

.container{

    display:flex;
    justify-content: center;
    margin-top:20px;
}

.col{
    
    text-align: center;

}
input{
    
    width:50%;
    height:50px;
    text-align: center;
}